<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit todo</h1>
<form method="post" th:object="${todo}" th:action="@{/{id}/edit(id=${todo.id})}">
    <label for="title">Todo desctiption:</label>
    <input id="title" name="title" th:field="*{title}">
    <label for="urgent">Urgent</label>
    <input id="urgent" type="checkbox" th:field="*{urgent}">
    <label for="done">Done</label>
    <input id="done" type="checkbox" th:field="*{done}">
    <button>Edit task</button>
</form>
</body>
</html>
