<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit todo</title>
</head>
<body>
<form th:action=@"{/todo/{id}/edit(id=${todo.id})}" th:method="post" th:object="${todo}">
    <div>
        <label for="title">Name of task: </label>
        <input id="title" name="title" th:field="*{title}"><br>
    </div>
    <div>
        <label for="urgent">Urgent? </label>
        <input id="urgent" name="urgent" th:field="*{urgent}"><br>
    </div>
    <div>
        <label for="done">Done? </label>
        <input id="done" name="done" th:field="*{done}"><br>
    </div>
    <button>Edit task</button>
</form>
</body>
</html>
