<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Edit todo</title>
</head>
<body>
    <form method="post" th:object="${todo}" th:action="@{/{id}/edit(id=${todo.id})}">
        <div class="m-5">
            <div align="center">
                <label>Edit Todo</label>
                <p> Todo Description </p><input type="text" name="name" th:field="*{name}"></p>
                <p>Urgent <input type="checkbox" th:field="*{urgent}"></p>
                <p>Done <input type="checkbox" th:field="*{done}"></p>
                <input type="submit" value="Submit" class="btn btn-success">
                <a href="" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
