<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Todo Application</title>
</head>
<body>
    <div class="alert alert-primary" role="alert">
        <a th:href="@{/add}" class="alert-link">Add new todo</a>
    </div>
    <p class="h1">Todos for today:</p>
    <table class="table table-bordered">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Action</th>
            <th scope="col">Urgent</th>
            <th scope="col">Done</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}" scope="row"></td>
            <td th:text="${todo.name}"></td>
            <td th:text="${todo.urgent}"></td>
            <td th:text="${todo.done}"></td>
            <td>
                <a th:href="@{/{id}/delete(id=*{todo.id})}">delete</a>
            </td>
            <td>
                <a th:href="@{/{id}/edit(id=*{todo.id})}">edit</a>
            </td>
        </tr>
    </table>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
