body {
  background: #c0c0c0;
  align-content: center;
}

h1 {
  font-family: Century Gothic;
  padding: 10px;
}

form {
  font-size: 12px;
  max-width: 600px;
  padding: 20px 50px 50px 20px;
  margin: 150px auto;
  position: relative;
  background: white;
  align-content: center;
  display: block;
}

input[type=submit] {
    padding: 15px 30px;
    margin: 0 25px 0;
    background:	#3CB371;
    border: 0 none;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.or {
  background: #c0c0c0;
  border-radius: 100px;
  margin: 100px;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  display: inline;
}

input[type="password"],
 input[type="text"],
  input[type="email"] {
  padding: 5px;
  border-right-style: hidden;
  border-left-style: hidden;
  border-top-style: hidden;
  margin: 10px 20px;
  position: relative;
  width: 200px;
}

input[type=submit]:focus, textarea:focus {
  border-bottom-color: #000;
}

.facebook,
.twitter,
.google {
  width: 200px;
  color: #fff;
  margin: 10 auto;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  display: block;
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #00aced;
}

.google {
  background: #d34836;
}

a:link {
  color: #fff;
 text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #C0C0C0;
  text-decoration: none;
}

a:active {
  color: #C0C0C0;
  text-decoration: none;
}
