<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Reddit</title>
</head>
<body>
<a th:href="@{/addpost}">Submit new post</a>
<h1>Trending posts</h1>
<table class="table">
    <tbody>
        <tr th:each="post : ${posts}" th:object="${post}">
            <td th:text="*{postDate}"></td>
            <td><a th:href="@{/{id}/increase(id=*{id})}">+</a></td>
            <td th:text="*{vote}"></td>
            <td><a th:href="@{/{id}/decrease(id=*{id})}">-</a></td>
            <td><a th:href="@{/{id}/showpost(id=*{id})}"><span th:text="*{title}"></span></a></td>
            <td><a th:href="@{/{id}/edit(id=*{id})}">edit</a></td>
            <td><a th:href="@{/{id}/delete(id=*{id})}">delete</a></td>
        </tr>
    </tbody>
</table>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
