<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/(name=${fox.getName()})}">Information</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/nutritionstore/(name=${fox.getName()})}">Nutrition Store</a>
        <a th:href="@{/trickcenter/(name=${fox.getName()})}">Trick Center</a>
        <a th:href="@{/actionhistory/(name=${fox.getName()})}">Action History</a>
    </nav>
</header>
<h1>
    Welcome to Programmer Fox Club!
</h1>
<p>
    Please provide a name, so you can associate it to your pet!
</p>
<form action="/login" method="post">
    <label for ="name">Name</label>
    <input id="name" type="text" required name="name"/>
    <input type="submit" value="GO" />
</form>
</body>
</html>
