<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
<header>
    <nav>
            <a th:href="@{/(name=${fox.getName()})}">Information</a>
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/nutritionstore/(name=${fox.getName()})}">Nutrition Store</a>
            <a th:href="@{/trickcenter/(name=${fox.getName()})}">Trick Center</a>
            <a th:href="@{/actionhistory/(name=${fox.getName()})}">Action History</a>
    </nav>
</header>
<form action="/nutritionstore" method="post">
    <label for ="food">Food</label>
    <select id="food" name="food" required>
        <option value="pizza">Pizza</option>
        <option value="hamburger">Hamburger</option>
        <option value="nachos">Nachos</option>
        <option value="gyros">Gyros</option>
    </select>
    <label for ="drink">Drink</label>
    <select id="drink" name="drink" required>
        <option value="coke">Coke</option>
        <option value="juice">Juice</option>
        <option value="water">Water</option>
        <option value="shake">Shake</option>
    </select>
    <input type="submit" value="Change"/>
</form>
</body>
</html>
