<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/(name=${fox.getName()})}">Information</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/nutritionstore/(name=${fox.getName()})}">Nutrition Store</a>
        <a th:href="@{/trickcenter/(name=${fox.getName()})}">Trick Center</a>
    </nav>
</header>
<h1>Registration Form</h1>
<form action="/register" method="post">
    <label>Username:</label>
    <input type="text" required name="username"/>
    <label>Password:</label>
    <input type="password" name="password" required>
    <label>Retype password:</label>
    <input type="password" name="repassword" required>
    <input type="submit" value="Sign in" />
</form>
</body>
</html>
