<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trick Center</title>
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/(name=${fox.getName()})}">Information</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/nutritionstore/(name=${fox.getName()})}">Nutrition Store</a>
        <a th:href="@{/trickcenter/(name=${fox.getName()})}">Trick Center</a>
        <a th:href="@{/actionhistory/(name=${fox.getName()})}">Action History</a>
    </nav>
</header>
<form action="/trickcenter" method="post">
    <input type="hidden" name="name" th:value="${fox.getName()}">
    <label for ="trick">Tricks</label>
    <select id="trick" name="trick">
        <option value="write HTML">write HTML</option>
        <option value="code in Java">code in Java</option>
        <option value="learn Python">learn Python</option>
        <option value="Be Steve Jobs">Be Steve Jobs</option>
    </select>
    <input type="submit" value="Learn">
</form>
</body>
</html>
