<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel='stylesheet' href='/styles.css'>
    <title>Bank of Simba</title>
    <meta charset="utf-8" />
</head>
<body>

<table>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
    </tr>
    <th:block th:each="bankAccount : ${list}">
    <tr>
        <td th:text="${bankAccountStat.count}"></td>
        <td th:text="${bankAccount.getName()}"></td>
        <td th:text="${bankAccount.getBalance()}"></td>
        <td th:text="${bankAccount.getAnimalType()}"></td>
        <td th:if="${bankAccount.getIsKing()}" th:text="'King'" th:style="'color: blue'"></td>
        <td th:unless="${bankAccount.getIsKing()}" th:text="''"></td>
        <th:block th:switch="${bankAccount.getGoodBad()}">
            <td th:case="'bad'" th:text="'Bad Guy'"></td>
            <td th:case="'good'" th:text="'Good Guy'"></td>
        </th:block>
    </tr>
    </th:block>
</table>
<form>
    <input type="submit" value="Raise" step="10">
</form>
</body>
</html>
